@import "tailwindcss";

@font-face {
    font-family: "open Sans";
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
   
}

@font-face {
    font-family: "Poppins";
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
   
}

@theme {
    --font-moti: 'open Sans', sans-serif;
    --font-all: 'Poppins';
}

@layer base {
    body {
        font-family: var(--font-moti);
    }
  
    html {
        scroll-behavior: smooth;
    }
}
@layer utilities {
    .background-text { 
        background-color: #040014;
        color: white;
    }

    .hover-header a {
        transition: color 0.3 ease;
    }
    .hover-header a:hover { 
        color: #8046FF;
    }

    .shadowInset {
        box-shadow: inset 0 -7px 11px #a48fff1f;
    }

    .gradient-text {
        background: linear-gradient(0deg, hsla(0, 0%, 100%, .4), hsla(0, 0%, 100%, .4)),  linear-gradient(90.01deg, #e59cff .01%, #ba9cff 50.01%, #9cb2ff);
        background-blend-mode: normal, screen;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .contact-button {
        background: linear-gradient(180deg, rgba(60, 8, 126, 0), rgba(60, 8, 126, .32)), rgba(113, 47, 255, .12);
        box-shadow: inset 0 0 12px #bf97ff3d;
        transition: all 0.3s ease;
    }

    .contact-button:hover {
        background: linear-gradient(180deg, rgba(60, 8, 126, 0), rgba(60, 8, 126, .42)), rgba(113, 47, 255, .24);
        box-shadow: inset 0 0 12px #bf97ff70;
    }
    
    @keyframes flicker {
        0%, 100% {
          opacity: 1;
          box-shadow: 0 0 20px rgba(139,92,246,0.9), 0 0 40px rgba(34,211,238,0.9);
        }
        40% {
          opacity: 0.8;
          box-shadow: 0 0 10px rgba(139,92,246,0.7), 0 0 20px rgba(34,211,238,0.7);
        }
        60% {
          opacity: 0.6;
          box-shadow: 0 0 30px rgba(139,92,246,0.8), 0 0 50px rgba(34,211,238,0.8);
        }
        80% {
          opacity: 0.9;
          box-shadow: 0 0 15px rgba(139,92,246,0.9), 0 0 35px rgba(34,211,238,0.9);
        }
      }
}

