@import "tailwindcss";

@font-face {
    font-family: "open Sans";
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
   
}

@theme {
    --font-Inter: 'open Sans', sans-serif;

}

@layer utilities {
    .background-text { 
        background-color: #040014;
        color: white;
    }

    .top-hole {
        top: calc(100% - 800px);
    }
}

